html {
  font-family: sans-serif;
  font-size: 16px;
}

main {
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: cover;
}

header {
  height: 4rem;
  line-height: 2rem;
  padding: 0 1.5rem;
}

.logo span {
  vertical-align: middle;
}

.logo img {
  vertical-align: middle;
}

ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  color: black;
}

.section-container {
  display: flex;
  width: cover;
  padding: 2rem 1.5rem;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
}

.info-main .section-title {
  text-align: left;
  padding-bottom: 1rem;
}

.banner {
  align-items: center;
}

.headline {
  padding: 1rem 0;
}

.subheading {
  padding: 0.5rem 0;
}

.button {
  width: 65%;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  text-align: center;
  background-color: grey;
}

.button a {
  color: white;
}

.left-column {
  width: 60%;
  padding-right: 0.75rem;
}

.left-column img {
  width: 100%;
}

.left-column video {
  width: 100%;
  padding-bottom: 1rem;
}

.right-column {
  width: 40%;
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
}

.right-column img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.right-column .text {
  width: 65%;
}

span.quote {
  display: block;
  font-size: 0.75rem;
  padding-top: 1.5rem;
}

.subject .text {
  padding: 1rem;
}

.text p {
  padding: 0.5rem 0;
}

.item {
  display: flex;
  align-items: center;
}

.information a {
  color: DodgerBlue;
}

#orientation {
  margin-top: -1rem;
}

.courses {
  max-width: 100%;
  padding: 0 2rem;
}

#learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.subject {
  max-width: 30%;
  padding: 1rem;
}

.subject img {
  width: 100%;
  height: auto;
}

p.description {
  padding-top: 0;
}

.reimagine h3 {
  padding: 0.5rem 0;
}

footer {
  font-size: 0.75rem;
  padding: 1rem 1.5rem;
}

@media only screen and (min-width:640px) {
  img.mobile {
    display: none;
  }
}

@media only screen and (max-width:640px) {
  header span {
    display: none;
  }

  nav {
    display: none;
  }

  .section-container {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }

  .info-main.left-column {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  img.desktop {
    display: none;
  }

  .subject img,
  .subject p {
    display: none;
  }

  .subject {
    max-width: 100%;
  }

  .left-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }

  .right-column img {
    width: 100%;
  }

  .right-column .text {
    width: 100%;
  }

  .thesis .right-column {
    display: none;
  }

  .reimagine {
    display: none;
  }
}
