@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFI2_5QCwIS4_Dhez5jcWjValgb8tc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBuT00.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 700;
  src: local('Signika Negative Bold'), local('SignikaNegative-Bold'), url(https://fonts.gstatic.com/s/signikanegative/v7/E217_cfngu7HiRpPX3ZpNE4kY5zKak6EupbJ6g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 600;
  src: local('Signika Negative SemiBold'), local('SignikaNegative-SemiBold'), url(https://fonts.gstatic.com/s/signikanegative/v7/E217_cfngu7HiRpPX3ZpNE4kY5zKaiqFupbJ6g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Negative Regular'), local('SignikaNegative-Regular'), url(https://fonts.gstatic.com/s/signikanegative/v7/E218_cfngu7HiRpPX3ZpNE4kY5zKYvWhrw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  src: local('Palanquin SemiBold'), local('Palanquin-SemiBold'), url(https://fonts.gstatic.com/s/palanquin/v3/9XUilJ90n1fBFg7ceXwUrn9Yw5Gr.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: local('Palanquin Regular'), local('Palanquin-Regular'), url(https://fonts.gstatic.com/s/palanquin/v3/9XUnlJ90n1fBFg7ceXwccVtN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* General Styling Rules */

html {
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  background-color: #5BC8FF;
  color: #031D44;
}

main {
  line-height: 1.4;
}

h1 {
  font-size: 2.7rem;
  font-weight: bold;
  font-family: "Signika Negative", sans-serif;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Signika Negative", sans-serif;
}

h3 {
  font-size: 1.55rem;
  font-weight: 600;
  font-family: "Signika Negative", sans-serif;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
}

.text p {
  padding: 0.5rem 0;
}

.section-container {
  display: flex;
  width: cover;
  padding: 2rem 1.5rem;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
}

.left-column {
  width: 60%;
  padding-right: 0.75rem;
}

.left-column img {
  width: 100%;
}

.left-column video {
  width: 100%;
  padding-bottom: 1rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 0.75rem;
  }

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: cover;
}

ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  color: #031D44;
}


/* Header */

header {
  height: 4rem;
  line-height: 2rem;
  padding: 0 1.5rem;
}

.logo img {
  vertical-align: middle;
}

.logo span {
  vertical-align: middle;
  font-family: "Philosopher", sans-serif;
  font-size: 1.35rem;
}

.part1 {
  font-weight: bold;
}

.part2 {
  font-weight: normal;
}


/* Banner Section */

.banner {
  align-items: center;
  background-color: #20A4F3;
}

.headline {
  padding: 1rem 0;
}

.subheading {
  padding: 0.5rem 0;
}

button {
  width: 65%;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  text-align: center;
  background-color: #EBDC66;
  border-style: none;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
}

button a {
  color: #031D44;
  transition-property: color;
  transition-duration: 250ms;
}

button:hover {
  background-color: #C52184;
}

button a:hover {
  color: #EBDC66;
}


/* Information Section */

.information {
  background-color: #FAFF81;
}

.information a {
  color: #0063F9;
}

.info-main .section-title {
  text-align: left;
  padding-bottom: 1rem;
}

span.quote {
  display: block;
  font-size: 0.85rem;
  padding-top: 1.5rem;
}

.information .item:nth-of-type(2n+1) {
  background-color: #FFC53A;
}

.information .item:nth-of-type(2n) {
  background-color: #5BC8FF;
}

.item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 38%;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  padding: 1rem;
  overflow: hidden;
}

.item img {
  max-width: 100%;
  min-width: 50%;
  height: auto;
  object-fit: cover;
}

.right-column .text {
  width: 65%;
  padding: 1rem 1rem 1rem 0;
}

.right-column .text h3 {
  line-height: 1.25;
}

.right-column .text p {
  line-height: 1.25;
}

.right-column .text span {
  line-height: 1.25;
}


/* Courses Section */

.courses {
  background-color: #5BC8FF;
  max-width: 100%;
  padding: 0 2rem;
}

#learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.subject {
  max-width: 29.25%;
  padding: 1rem;
  display: table;
}

#software .text, #design .text, #business .text {
  background-color: #20A4F3;
}

#computer-art .text, #data .text, #marketing .text {
  background-color: #FAFF81;
}

.subject img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.subject .text {
  padding: 1rem;
  height: 10.25rem;
  margin-top: -5px;
}

.description {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.description p {
  padding-top: 0;
}


/* Thesis Section */

.thesis {
  background-color: #FFC53A;
}

.reimagine h3 {
  padding: 0.5rem 0;
}

.thesis .item {
  max-height: 40%;
}

.thesis .item:nth-of-type(2n+1) {
  background-color: #FAFF81;
}

.thesis .item:nth-of-type(2n) {
  background-color: #20A4F3;
}


/* Footer */

footer {
  font-size: 0.85rem;
  padding: 1rem 1.5rem;
}


/*Media Query for larger screens*/

@media only screen and (min-width:780px) {
  .mobile {
    display: none;
  }
}

/*Media Query for mid-sized screens*/

@media only screen and (max-width:970px) and (min-width:780px){
  html {
    font-size: 14px;
  }

  .subject {
    max-width: 28.5%;
  }
}

/*Media Query for smaller screens*/

@media only screen and (max-width:780px) {
  html {
    overflow-x: hidden;
  }

  .desktop {
    display: none;
  }

  .left-column {
    width: 100%;
    padding: 0;
  }

  .right-column {
    width: 100%;
    padding: 0;
  }

  .right-column .text {
    width: 100%;
  }

  .section-container {
    flex-direction: column;
    padding: 0;
  }

  .section-title {
    padding-bottom: 1rem;
  }

  header .mobile {
    padding-top: 12px;
  }

  .banner.right-column {
    width: cover;
  }

  .banner img {
    padding-bottom: 1rem;
  }

  .headline {
    padding: 1rem 0 1rem 1rem;
    margin-left: -3px;
  }

  .subheading {
    padding: 1rem 1rem 0;
    margin-left: -2px;
  }

  button {
    align-self: center;
    margin: 1.5rem 1rem 2rem;
    width: 90%;
  }

  .item {
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 1.5rem 1rem;
  }

  .item .text {
    align-self: flex-start;
    padding: 1rem 0 1rem 1rem;
  }

  .img-container {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    overflow: visible;
  }

  #guest-lecture {
    padding-bottom: 1rem;
  }

  .courses {
    padding: 0;
  }

  #learning {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .subject {
    max-width: 100%;
    padding: 0 1rem 0.5rem 1rem;
  }

  .subject .text {
    background-color: lightgrey;
    padding: 1rem 1rem 1.5rem;
    height: auto;
    margin-top: 0;
  }

  #marketing {
    padding-bottom: 0;
  }

  .thesis video {
    padding-bottom: 1.5rem;
  }
}
